body, h1, ul, li {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #e8dbcb url(images/bg-texture.jpg);
}

#container {
	width: 1095px; margin: -40px auto;
	position: relative;
}

h1 {
	width: 262px; height: 182px; margin: 0 auto; position: relative; top: 39px;
	background: url(images/bss-logo.png) no-repeat top center; text-indent: -9999px; z-index: 10;
}

div#slideshow {
	width: 1083px; height: 590px; padding: 15px 0 0 12px;
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */ 
	position: relative; z-index: 5;
}
	div#slideshow ul#nav {
		display: none;
		list-style: none;
		position: relative; top: 210px; z-index: 15;
	}
		div#slideshow ul#nav li#prev {
			float: left; margin: 0 0 0 40px;
		}
		div#slideshow ul#nav li#next {
			float: right; margin: 0 50px 0 0;
		}
		div#slideshow ul#nav li a {
			display: block; width: 80px; height: 80px; text-indent: -9999px;
		}
			div#slideshow ul#nav li#prev a {
				background: url(images/prev.png);
			}
			div#slideshow ul#nav li#next a {
				background: url(images/next.png);
			}

	div#slideshow ul#slides {
		list-style: none;
	}
		div#slideshow ul#slides li {
			margin: 0 0 20px 0;
		}

a {outline: none; }